# Env Sample File
VITE_APPWRITE_URL = "https://nyc.cloud.appwrite.io/v1"

VITE_APPWRITE_PROJECT_ID = "6a230655002eb7a1d2fc"

VITE_APPWRITE_DATABASE_ID = "6a23089600264c9e7727"

VITE_APPWRITE_COLLECTION_ID = "articles"

VITE_APPWRITE_BUCKET_ID = "6a230f42001d85fc445a"